# Базовый URL для приложения
VITE_BASE_URL=/

# Режим разработки
VITE_DEV_MODE=true

# URL API
VITE_API_URL=https://api.yourdomain.com

# Префиксы для трек-номеров
VITE_TRACK_NUMBER_PREFIXES=["77", "SF", "YT", "78", "JT", "46", "98", "JD", "43", "73", "76", "DPK", "74", "13", "81", "31"]

# ID бота для авторизации через Telegram
VITE_AUTH_TELEGRAM_BOT=123456789

# URL политики конфиденциальности
VITE_PRIVACY_POLICY_URL=https://yourdomain.com/privacy-policy

# URL оферты
VITE_OFFER_URL=https://yourdomain.com/offer