@import "tailwindcss";

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro-Display-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro-Display-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro-Display-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro-Display-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  background: #FCFDFF;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'SF Pro Display', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #ED0028 #F5F5F5;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #F5F5F5;
  border-radius: 9999px;
}

*::-webkit-scrollbar-thumb {
  background: #ED0028;
  border-radius: 9999px;
}

*::-webkit-scrollbar-button {
  display: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}